SECRET_KEY="{{ with secret "secret-v2/data/app" }}{{ .Data.data.SECRET_KEY }}{{ end }}"
DATABASE_URL=postgresql://postgres:{{ with secret "secret-v2/data/postgres" }}{{ .Data.data.POSTGRES_PASSWORD }}{{ end }}@db:5432/app
